[Unit]
Description=Broadcom BCM43438 bluetooth HCI
ConditionPathIsDirectory=/proc/device-tree/soc/gpio@7e200000/bt_pins
Before=bluetooth.service
After=dev-ttyAMA0.device

[Service]
Type=simple
ExecStart=/usr/bin/btattach --bredr /dev/ttyAMA0 --speed 921600 --noflowctl

[Install]
WantedBy=multi-user.target
